<div class="wrapper" id="taskDLWrapper" ng-if="activeTasks.length != 0"
     ng-swipe-left="goPrevLane();" ng-swipe-right="goNextLane();">
    <div class="scroller">

        <div class="taskItemC" ng-click="redirectTo('/td'); setActiveTask($index);"
             bindonce ng-repeat="task in activeTasks track by $index"
        >
            <div class="taskTitle">{{task.description}}</div>
            <div class="taskAmount">
                <span>Task: </span>{{task.items || 0}}
                <span>items</span>
            </div>
            <div class="taskDate">
                <span>Due Date: </span>{{task.data.dueDate | amDateFormat: "ddd, DD MMM YYYY, h:mm:ss a"}}
            </div>
            <div class="taskOwner">
                {{task.data.taskOwner}}<img src="img/usr.png" alt="" ng-onload selector-id="taskDLWrapper" />
            </div>
            
            <div class="taskStatus circle blue" ng-if="task.status == 'tbp'">TP</div>            
            <div class="taskStatus circle red" ng-if="task.status == 'p'">P</div>            
            <div class="taskStatus circle green" ng-if="task.status == 'ip'">IP</div>            
            <div class="completeTime" ng-if="task.status == 'd'">
                <span>Completed on </span>
                <span>{{task.data.dueDate | amDateFormat: "ddd, DD MMM YYYY, h:mm:ss a"}}</span>
            </div>

        </div>

    </div>
</div>

<div class="noTask" ng-if="activeTasks.length == 0" ng-swipe-left="goPrevLane();" ng-swipe-right="goNextLane();">
    There is no task here...
</div>