<div class="app">

    <div class="navbar navbar-app navbar-absolute-top notifTopBar">

        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <i class="fa fa-bars notifGoBackButton" ng-click="redirectTo('/pb');"></i>
            </div>
        </div>
        
        <span class="topBarTitle">Notifications</span>

        <!-- Screen out temporarily
        <div class="btn-group pull-right">
            <div class="btn btn-navbar">                
                <img src="img/22.png" alt="" class="navIconSize notifCircleDownArrow" />                
                <img src="img/19.png" alt="" class="navIconSize notifCirclePlus" />
            </div>
        </div>
        -->

        <div class="btn-group pull-right notifTopBalancer"></div>
    </div>
    
    <div class="notifTitleC">
        <div class="notifTitleItemC" ng-click="switchNotifList('Today')">
            <div class="notifTitleItem" id="notifToday">
                <span><a href="">Today</a></span>
                <div class="underline" ng-if="activeItemTag=='Today'"></div>
            </div>
        </div>
        <div class="notifTitleItemC" ng-click="switchNotifList('All')">
            <div class="notifTitleItem" id="notifAll">
                <span><a href="">All</a></span>
                <div class="underline" ng-if="activeItemTag=='All'"></div>
            </div>
        </div>
        <div class="notifTitleItemC" ng-click="switchNotifList('Missed')">
            <div class="notifTitleItem" id="notifMissed">
                <span><a href="">Missed</a></span>
                <div class="underline" ng-if="activeItemTag=='Missed'"></div>
            </div>
        </div>
    </div>
    
    <div class="notifC" ng-include="notifConentTpl.url"></div>
    
</div>