* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-ms-touch-action: none;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #efeff4;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;   
    overflow: hidden; /* This is important to prevent the whole page to bounce. */
}

div {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: #272336;
}
a:visited {
    text-decoration: underline;
    color: #272336;
}
a:hover {
    text-decoration: none;
    color: #007aff;
}
a:active {
    text-decoration: none;
    color: #007aff;
}

ul, ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline;
}

img {
    border: none;
}

table {
    width: 100%;
    border-collapse:collapse;
}

tr {
    width: 100%;
}

td,th {
    border: 1px solid #cccccc;
    vertical-align: top;
}

input, button, select, textarea {
    outline:none;
}

.circle {
    width: 60px;
    height: 60px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.blankLoader {
    float: left;
}

.blue {
    background-color: #3871c1;
}

.red {
    background-color: #ed2149;
}

.green {
    background-color: #53bf49;
}

.grayFliter {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    
    filter: grayscale(100%);
    
    filter: gray;
}