<div class="wrapper" id="taskSLInCalWrapper" style="top: {{taskEditBarTop.top}}">
    <div class="scroller">
        <div class="taskItemC taskItemLC"
             ng-swipe-left="showTaskEditBar($index); setSelectedTaskId(task._id);"
             ng-swipe-right="showTaskEditBar($index); setSelectedTaskId(task._id);"
             bindonce ng-repeat="task in tasksInActiveDay"
        >
            <div class="blue tasklsb" ng-if="task.status == 'tbp'"></div>
            <div class="tasklsb red" ng-if="task.status == 'p'"></div>
            <div class="tasklsb green" ng-if="task.status == 'ip'"></div>
            
            <div class="tslb">
                <div class="taskTitle">{{task.description}}</div>
                
                <div class="taskStatus circle blue" ng-if="task.status == 'tbp'"></div>            
                <div class="taskStatus circle red" ng-if="task.status == 'p'"></div>            
                <div class="taskStatus circle green" ng-if="task.status == 'ip'"></div>
                
                <img src="img/blank.png" alt="" ng-onload selector-id="taskSLInCalWrapper" />
            </div>
        </div>
    </div>
</div>
<div class="noTaskForDayInCal" ng-if="tasksInActiveDay.length == 0">There is no task here...</div>