<div class="app">
    <div class="navbar navbar-app navbar-absolute-top calendarTopBar">

        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <i class="fa fa-bars calButton" ng-click="redirectTo('/pb');"></i>
            </div>
        </div>
        
        <span class="topBarTitle">Calender</span>

        <div class="btn-group pull-right">
            <div class="btn btn-navbar" ng-click="changeTaskListView();">
                <img src="img/23.png" alt="" class="navIconSize eye" />
            </div>
        </div>
    </div>
    
    <div class="calendarC">
        <div class="calendarTitleC">
            <div class="activeDateC">
                <div class="lastMonthC" ng-click="goPreMonth();">
                    <span class="lastMonth">{{lastMonth}}</span>
                </div>
                <div class="activeMonthC">
                    <span class="activeMonth">{{activeMonth}}</span>
                    <span class="activeYear">{{currentYear}}</span>
                </div>
                <div class="nextMonthC" ng-click="goNextMonth();">
                    <span class="nextMonth">{{nextMonth}}</span>
                </div>
            </div>
        </div>
        <div class="calendarConC">
        
            <div class="calcendarTitleC">
                <div class="weekItemC">
                    <div class="weekItem">S</div>
                </div>
                <div class="weekItemC">
                    <div class="weekItem">M</div>
                </div>
                <div class="weekItemC">
                    <div class="weekItem">T</div>
                </div>
                <div class="weekItemC">
                    <div class="weekItem">W</div>
                </div>
                <div class="weekItemC">
                    <div class="weekItem">T</div>
                </div>
                <div class="weekItemC">
                    <div class="weekItem">F</div>
                </div>
                <div class="weekItemC">
                    <div class="weekItem">S</div>
                </div>
            </div>
            
            <!-- Should include the body here -->
            <div ng-include="calenderDayTPL.url"></div>

        </div>
        
    </div>
    
    <div class="addNewTaskTPLC" ng-include="addNewTaskTPL.url"></div>
    
    <div class="taskSummaryBarTPLC" ng-include="taskSummaryBarTPL.url"></div>
    
    <div ng-include="taskEditBarTPL.url"></div>
    
    <div class="calenderTaskSummaryListTPLC" ng-include="taskSummaryListTPL.url"></div>
    
</div>