<div class="loginTitleBox">TODO LOGIN</div>

<div class="logoC"></div>

<div class="company">Welcome To Open Business Solutions</div>

<div class="loginBox">
    <div class="usernameBox">
        <div class="lTitle">username</div>
        <input type="text" class="username" ng-model="username" />
    </div>
    <div class="passwordBox">
        <div class="lTitle">password</div>
        <input type="password" class="password" ng-model="password" />
    </div>
</div>

<div class="confirmBox ldsab" ng-if="!username || !password">
    <span>Login</span>
</div>

<div class="confirmBox lactv" ng-if="username && password" ng-click="login();">
    <span>Login</span>
</div>