<div class="monthTasksListC">
    <div class="wrapper" id="monthTaskListWrapper">
        <div class="scroller">
            <div class="monthTaskItemC"
                 bindonce ng-repeat="item in tasksForEveryDayInActiveMonth.activeMonth.tasks" ng-if="item.length != 0"
                 ng-click="setActiveDate({{tasksForEveryDayInActiveMonth.activeMonth.days[$index]}} - 1, {{tasksForEveryDayInActiveMonth.activeMonth.days[$index]}});"
            >
                <div class="monthTaskListConC">
                    <div class="monthTaskWeekC">{{tasksForEveryDayInActiveMonth.activeMonth.weeks[$index]}}</div>
                    <div class="monthTaskDayC">{{tasksForEveryDayInActiveMonth.activeMonth.days[$index]}}
                        <div class="monthTaskClickTag"
                             ng-if="activeDay == tasksForEveryDayInActiveMonth.activeMonth.days[$index]"
                        >
                        </div>
                    </div>
                    <div class="monthTaskSumC"><span>{{item.length}}</span> Tasks</div>
                    <img class="blankLoader" src="img/blank.png" alt="" ng-onload selector-id="monthTaskListWrapper" />
                </div>
            </div>
        </div>
    </div>
</div>