<div class="wrapper" id="notifMissedTaskListWrapper">
    <div class="scroller">
        <div class="notifItemC" bindonce ng-repeat="task in missedTasksArray">
            <div class="notifLAvatorC">
                <div class="notifUserAvatorBox">
                    <img class="notifUserAvator" src="img/14.png" alt="" />
                </div>
            </div>
            <div class="notifRConC">
                <div class="notifUsernameC">{{task.data.taskOwner}}</div>
                <div class="notifTextC">{{task.description}}</div>
                <div class="notifCreateTimeC">
                    {{task.data.dueDate | amDateFormat: "ddd, DD MMM YYYY, h:mm:ss a"}}
                </div>
            </div>
        </div>
        <img src="img/blank.png" alt="" ng-onload selector-id="notifMissedTaskListWrapper" />
    </div>
</div>

<div class="noMissedTasks" ng-if="missedTasksArray.length==0">
    You have not missed tasks.
</div>