<div class="taskSummaryBar">

    <span ng-if="calenderDayTPL.url=='templates/calender.widget.day.tpl.html'">
    	{{tasksInActiveDay.length}}
    </span>
    <span ng-if="calenderDayTPL.url=='templates/month.task.list.tpl.html'">
    	{{tasksAmountForActiveMonth}}
    </span>

    <span>Tasks need to be done in</span>

    <span ng-if="calenderDayTPL.url=='templates/calender.widget.day.tpl.html'">
    	{{activeDay}}
    </span>

    <span>{{activeMonth}} {{currentYear}}</span>

</div>