<div class="taskEditBarC">
    <div class="taskEditBarItemC">
        <div class="taskEditBarIconC">
            <!-- "ng-onload" directive is very important here, so please do not remove it! -->
            <img src="img/24.png" id="starIcon" alt="" ng-onload selector-id="taskSLInCalWrapper" />
        </div>
    </div>
    <div class="taskEditBarItemC" ng-click="editTask(seletedTaskId);">
        <div class="taskEditBarIconC">
            <img src="img/12.png" alt="" />
        </div>
    </div>
    <div class="taskEditBarItemC">
        <div class="taskEditBarIconC">
            <img src="img/14.png" alt="" />
        </div>
    </div>
    <div class="taskEditBarItemC">
        <div class="taskEditBarIconC">
            <img src="img/5.png" alt="" />
        </div>
    </div>
</div>