.loginTitleBox {
    width: 100%;
    height: 110px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    background-color: #231f20;
    color: #DAD7D7;
    padding-top: 33px;
}

.logoC {
    background: url(../../img/logo.png) no-repeat center center;
    background-size: 90px;
    height: 90px;
    margin-top: 30px;
}

.company {
    text-align: center;
    font-weight: bold;
    margin: 8px 0 30px 0;
}

.loginBox {
    border: 1px solid #333333;
    border-radius: 15px;
    line-height: 180%;
    margin: 0 20px;
}

.loginBox input {
    border: none;
    background-color: #efeff4;
    padding: 6px 0;
    margin-top: 9px;
    float: right;
    width: 75%;
}

.lTitle {
    float: left;
    width: 20%;
    margin: 16px 0 0 8px;
}

.usernameBox {
    border-bottom: 1px solid #cccccc;
    height: 90px;
    border-radius: 15px 15px 0 0;
}

.passwordBox {
    border-bottom: 1px solid #cccccc;
    height: 90px;
    border-radius: 0 0 15px 15px;
}

.confirmBox {
    text-align: center;
    cursor: pointer;
    height: 90px;
    margin: 45px 30% 0 30%;
    padding-top: 20px;
    border-radius: 15px;
    background-color: #0f8bff;
}

.confirmBox span {
    display: block;
    font-size: 32px;
    font-weight: bold;
}

.ldsab {
    color: #AEC1F1;
}

.lactv {    
    color: #fdfcfc;
}