.title {
    float: left;
    font-weight: bold;
    margin: 16px 0 0 15px;
}

.titleValue {
    float: left;
    border: 1px solid #333333;
    border-radius: 12px;
    width: 60px;
    text-align: center;
    margin: 14px 0 0 15px;
    background-color: #ffffff;
}

.threeHLine {
    float: right;
    margin: 12px 15px 0 0;
}

.threeVLine {
    height: 45px;
    margin: 0 5px 0 10px;
}

.downGt {
    float: right;
    margin: 13px 30px 0 0;
}

#viewLane {
    top: 70px;
    right: 24px;
    height: initial;
}

.todoItem {
    border-bottom: 1px solid #c7c6c6;
    height: 25%;
    padding: 5px 0 0 15px;
}

.thisWeekItem {
    border-bottom: 1px solid #c7c6c6;
    height: 25%;
    padding: 5px 0 0 15px;
}

.todayItem {
    height: 25%;
    border-bottom: 1px solid #c7c6c6;
    padding: 5px 0 0 15px;
}

.doneItem {
    padding: 5px 0 0 15px;
}

.createTaskC {
    width: 85%;
    height: 620px;
    margin: 26% auto;
    text-align: left;
    background-color: #E0DCDC;
    padding: 30px 15px;
    border-radius: 15px;
}

.createTaskTitleC {
    font-weight: bold;
    margin: 0 0 30px 0;
}

.taskNameC {
    width: 100%;
    margin: 0 0 20px 0;
}

.taskName {
}

.needsclick {
}

.taskDescC {
    width: 100%;
    margin: 50px 0;
}

.taskDesc {
}

.taskDescInput {
}

.assignToC {
    width: 100%;
    height: 120px;
    margin: 0 0 20px 0;
}

.assignTo {
}

.ctActionMenu {
    text-align: center;
    margin-top: 17%;
}

.divider {
    float: left;
    width: 100%;
}

.dropdown-menu .divider {
    margin; 0;
}

.choice-box {
    width: 136px;
    text-align: left;
}

.laneItem {
    height: 55px;
    padding: 5px 0 0 15px;
}

.borderBottom {
    border-bottom: 1px solid #c7c6c6;
}

#assignTo {
}

.assignToTitle {
}

#assignToBox {
    left: 0;
    width: 50%;
    text-align: left;
}

.selectedBox {
    width: 50%;
    height: 50px;
    text-align: left;
}

.atRArrow {
    margin-left: 0;
    float: right;
    margin: 8px 0 5px 0;
}

.assignToDropdownBox {
    position: relative;
}

#createLane {
    height: 370px;
}

#createLaneConfirm {
    margin-top: 6%;
}