.taskItemLC {
    border: none;
    padding: 0;
    margin: 0;
    height: 110px;
    font-size: 30px;
    border-radius: 0;
}

.tasklsb {
    float: left;
    width: 30px;
    height: 100%;
}

.tslb {
    border: 1px solid #8e8e8e;
    height: 100%;
}

.taskItemLC .taskTitle {
    float: left;
    margin: 31px 0 0 15px;
    width: 80%;
    overflow: hidden;
    padding-right: 8px;
}

.taskItemLC .taskStatus {
    margin: 33px 15px 0 0;
}

.noTaskForDay {
    text-align: center;
    padding: 220px 0 400px 0;
}

#navSimpleListCT {
    margin: 60px 0 0 0;
}

.noTaskForDayInCal {
    padding: 0 0 0 15px;
}