.subTaskTopBar {
    background-color: #f4f3f3;
    border: none;
    text-align: center;
    padding-top: 30px;
}

.subTaskGoBackButton {
    width: 60px;
    height: 110px;
    background: url(../../img/21.png) no-repeat 5px 6px;
    background-size: 50px;
    float: left;
}

.subTaskMainC {
    margin-top: 110px;
    padding: 30px;
}

.subTaskMainC img {
    width: 40px;
}

.subTaskTopC {
    background: url(../../img/25.png) no-repeat 50px 5px;
    background-size: 40px;
    height: 70px;
}

.subTaskSummaryTitleC {
    display: block;
    margin-left: 120px;
}

.subTaskMiddleC {
    border: 1px solid #333333;
    border-radius: 15px;
    padding: 30px;
}

.subTaskItemC {
    height: 70px;
}

.subTaskItemTitle {
    display: block;
    margin-left: 90px;
}

.subTaskDone {
    margin: 0 0 0 20px;
}

.subTaskView {
    margin: -35px 10px 0 0;
}

.subTaskDelete {
    margin: -30px 50px 0 0;
}

.addNewSubTaskC {
    border: 1px solid #333333;
    border-radius: 15px;
    height: 70px;
}

.addSubTask {
    display: block;
    width: 35%;
    float: left;
    margin: 12px 0 0 8px;
    text-align: center;
    font-weight: bold;
}

.subTaskName {
    height: 100%;
    background-color: transparent;
    border-width: 0 0 0 1px;
    padding: 0 0 0 8px;
    width: 55%;
}

.subTaskTopBalancer {
    width: 84px;
    height: 110px;
}