.monthTasksListC {
    float: right;
    width: 100%;
    height: 320px;
    padding: 20px 20px 20px 20px;
    position: relative;
}

#monthTaskListWrapper {
    top: 0;
}

.monthTaskItemC {
    width: 25%;
    height: 160px;
    float: left;
    text-align: center;
    line-height: 160%;
    border-radius: 15px;
    padding: 20px;
    position: relative;
}

.monthTaskListConC {
    border: 1px solid #adabab;
    border-radius: 15px;
    background-color: #e9e8e8;
}

.monthTaskWeekC {

}

.monthTaskDayC {
    color: #3b73c1;
}

.monthTaskClickTag {
    width: 38px;
    height: 38px;
    border-radius: 50px;
    background-color: rgba(8, 93, 219, 0.5);
    position: absolute;
    top: 42%;
    left: 40%;
}

.monthTaskSumC {

}