.ttCloseButton {
    width: 60px;
    height: 110px;
    background: url(../../img/11.png) no-repeat 5px 28px;
    background-size: 50px;
    float: left;
}

.tTaskSummaryTitleTPLC {
    margin-top: 130px;
    background-color: #3871c1
}

.tTaskSummaryC {
    height: 100%;
    margin: 110px 0 0 0;
    padding: 30px 20px;
    background-color: #3871c1;
}

.lTSC {
    width: 48.5%;
    height: 100%;
    float: left;
    background-color: #e9e8e8;
    position: relative;
    border: 1px solid #bdbbbc;
    border-radius: 8px;
}

.rTSC {
    width: 48.5%;
    height: 100%;
    float: right;
    background-color: #e9e8e8;
    position: relative;
    border: 1px solid #bdbbbc;
    border-radius: 8px;
}

.lTSTC {
    background-color: #bdbbbc;
    height: 70px;
    border-radius: 4px 4px 0 0;
}

.rTSTC  {
    background-color: #bdbbbc;
    height: 70px;
    border-radius: 4px 4px 0 0;
}

#lTSWrapper {
    top: 70px;
}

#rTSWrapper {
    top: 70px;
}

.noNavTSLB {
    border: 1px solid #8e8e8e;
    border-radius: 15px;
    height: 100%;
    margin: 10px;
    background-color: #ffffff;
}

.taskItemSLC {
    font-size: 24px;
    background-color: #e8e8e8;
}

.taskItemSLC .taskTitle {
    margin: 15px 0 0 5px;
}

.taskItemSLC .taskStatus {
    margin: 5px 15px 15px 0;
}