.taskDetailsTopBar {
    background-color: #f4f3f3;
    border: none;
    text-align: center;
    padding-top: 30px;
}

.tdCloseButton {
    width: 60px;
    height: 110px;
    background: url(../../img/32.png) no-repeat 5px 5px;
    background-size: 40px;
    float: left;
}

.tdCircleArrow {
    margin: 0 20px 0 0;
}

.delete {
    margin: -88px 5px 0 0;
}

.taskDetailsC {
    margin-top: 110px;
    padding: 30px;
}

.tdTopC {
    float: left;
    width: 100%;
}

.tdLC {
    width: 60%;
    float: left;
}

.tdRC {
    float: right;
}

.tdTitleC {
    color: #3b73c1;
    font-weight: bold;
}

.tdStatusC {
    margin: 20px 0 0 0;
}

.tdAddTagC {
    margin: 20px 0 0 0;
    color: #3b73c1;
    font-size: 26px;
    float: left;
    width: 100%;
}

.tdMiddleC {
    float: left;
    width: 100%;
    margin-top: 30px;
    border: 1px solid #333333;
    border-radius: 15px;
    padding: 40px 0 30px 30px;
    background-color: #ffffff;
}

.tdMiddleC img {
    height: 40px;
    margin: 0 15px 0 0;
}
 
.tdMiddleItem {
    height: 100px;
    padding: 30px 0 0 70px;
    position: relative;
}

.descC {
    background: url(../../img/12.png) no-repeat 0 35px;
    background-size: 48px;
}

.subTasksC {
    background: url(../../img/13.png) no-repeat 0 30px;
    background-size: 40px;
}

.notesC {
    background: url(../../img/18.png) no-repeat 0 30px;
    background-size: 40px;
}

.addPersonC {
    background: url(../../img/14.png) no-repeat 0 30px;
    background-size: 40px;
}

.dueDateC {
    background: url(../../img/15.png) no-repeat 0 40px;
    background-size: 40px;
    margin-bottom: 15px;
}

.ckBoardsC {
    background: url(../../img/16.png) no-repeat 0 30px;
    background-size: 40px;
}

.attachmentsC {
    background: url(../../img/17.png) no-repeat 0 20px;
    background-size: 40px;
}

.tdBottomC {
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    border: 1px solid #333333;
    border-radius: 15px;
    padding: 15px;
    background-color: #ffffff;
}

.tdBottomLC {
    width: 15%;
    height: 110px;
    float: left;
    background: url(../../img/18.png) no-repeat 0 30px;
    background-size: 40px;
}
.tdBottomRC {
    width: 85%;
    height: 100%;
    float: right;
}

.tdBottomRC input {
    border: none;
    height: 100px;
    width: 100%;
}

.subTitleC {
    margin: 0 30px 0 0;
    color: #a69491;
}

.taskStatusButton {
    width: 260px;
    text-align: left;
}

.taskStatusButtonTriangle {
    float: right;
    margin: 8px 0 0 0;
}

.taskStatusButtonMenu {
    width: 260px;
}

.statusTitleBox {
    float: left;
    width: 20%;
    height: 70px;
    padding: 18px 0 0 0;
}

#changeStatus {
    width: 80%;
}

.selectedStatusBox {
    width: 80%;
    text-align: left;
    height: 50px;
    font-size: 30px;
    padding: 0 0 5px 8px;
}

.statusArrow {
    float: right;
    margin: 18px 0 0 0;
}

#statusBox {
    width: 80%;
    left: 0;
    text-align: left;
    font-size: 30px;
}

.changeStatusBox {
    position: relative;
    float: right;
    width: 80%;
    z-index: 9;
}

.editTaskDesc {
    border: none;
    width: 80%;
}

.dueDatePicker {
    height: 70px;
    border: 1px solid #333333;
    padding: 0 0 0 15px;
    margin: 0 0 0 15px;
}

.picker--opened .picker__holder {
    margin: 1px 0 0 0;
}

.currentOwner {
    color: #53bf49;
    font-weight: bold;
}

#pushToProjectBox {
    z-index: 1;
}

@media (min-width: 24.5em) {
    .picker__nav--prev {
        width: 40px;
        height: 40px;
    }
    .picker__nav--next {
        width: 40px;
        height: 40px;
    }

    .picker__nav--prev:hover {
        background-color: transparent;
    }
    .picker__nav--next:hover {
        background-color: transparent;
    }
}

@media (min-height: 33.875em) {
    .picker__weekday {
        text-align: center;
        padding-top: 8px;
    }
}

.topBarTitle {
    font-size: 32px;
    font-weight: bold;
    color: #333333;
}